<div class="block-text">
	<p>Stitch-Ten provides hand-made knit and crocheted products and was founded
by Elizabeth (Beth) Tennant and her family. Recently, on October 26, 2012,
Beth passed on. She had breast cancer metastatic to her liver. She was an
outstanding mother, grandmother, and knit-artist.</p>
	<p>Stitch-Ten is a dedication to all artists, especially women, who have not
been able to pursue their art because they have families to support, financial
constraints, a lack of support, or self-doubt about their skills. Stitch-Ten
encourages all artists to express themselves proudly and often, and hopes
to set an example, showing that strong women and strong families can foster
peace of mind and bring beauty into the world with their art.</p>
	<p>As a family the Stitch-Ten crew is dedicated to preventing and/or treating breast
cancer. Because of this, 5% of all sales will be donated to the Susan G. Komen
Foundation for the Cure.</p>
	<p><b>Beth’s Perspective before she passed:</b></p>
	<p>“I learned to knit about 50 years ago from a neighbor who was a Home
Economics major. Although I didn't knit steadily for all those years, in the last
10 years I have knit intensely for different shops, family and friends. I browse
magazines, online and shops for ideas and the latest fashions. I like to observe
hand knit or crochet fashions wherever I go.”</p>
	<p><b>Daughters’ Perspective:</b></p>
	<p>Our mother sewed and knit our clothes since we were young children. In the
past decade she was a prolific knitter. During the holiday season the whole
family looked forward to receiving her creations as gifts. And with five children
and five grandchildren, that’s a lot of people to please. Her knitwear is jaw-
droppingly beautiful. Mom was an artist disguised as a nurse and mother most
of her life. This business provided her an opportunity to earn a small income
doing what she loved to do!</p>
	<p>Beth’s grandson and engineering student, Dosty Everts, is responsible for
the technical development of this website in conjunction with her daughter,
Sherri, and family friend, Claudia Alzamora, who is a graphic designer. Beth’s
granddaughter, Kristen Tennant, and friends of the family, Sam Muglia and
Monica Smith, are responsible for all the beautiful photography on this website.
Renee and Michelle, Beth’s daughters, have provided encouragement and
support in the past several years by selling Stitch-Ten knitwear in and around
Madison, WI.</p>
	<p>Stitch-Ten extends a special thank you to James Connor for his wise business
suggestions and his book, <a href="http://www.perfectionofmarketing.com">The Perfection of Marketing</a>, which inspired Beth and Sherri to start Stitch-Ten. Also, thanks to Zoe,
owner of <a href="http://www.clothclothing.com">Cloth boutique</a> in Brooklyn, NY, who has sold Beth’s knitwear in the past
six years, and <a href="http://www.madisoncraft.com">Madison Crafts & Gifts in Monona</a>, WI, where Beth sold much of her
knitwear.</p>
</div>