<h2 id="links">
	<a href="/about" id="<%= (params[:controller] == 'application' && params[:action] == 'about') ? 'notify' : '' %>">About Us</a>
	<a href="/index" class="link-left" id="<%= (params[:controller] == 'categories' && params[:action] == 'index') ? 'notify' : '' %>">Gallery</a>
</h2>