<h2 id="links">
	<a href="/about" id="<%= (params[:controller] == 'application') ? 'notify' : '' %>">About Us</a>
	<a href="/category/hats" class="link-left" id="<%= (params[:controller] == 'categories') ? 'notify' : '' %>">Gallery</a>
</h2>