<div id="sidebar">
	<ul>
		<%= render :partial => 'common/button', :locals => {:controller => "application", :view => "about", :name => "About Us"} %>
    <%= render :partial => 'common/button', :locals => {:controller => "categories", :view => "index", :name => "Gallery"} %>
    <%= render :partial => 'common/button', :locals => {:controller => "application", :view => "contact", :name => "Contact Info"} %>
  </ul>
</div>